.profileIMG {
    height: 400px;
    width: 350px;
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}

.EduIMG {
    width: 300px;
    max-height: 200px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.skillsIMG {
    height: 60px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media(max-width: 768px) {
    .profileIMG {
        height: 300px;
        width: 250px;
    }
}

@media(max-width: 360px) {

    /* h4,
    h5,
    h1,
    h2 {
        width: 100%;
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
    } */

    .centerSmall {
        width: 100%;
        box-sizing: border-box;
        padding-left: 10%;
        padding-right: 10%;
    }
}